body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
background-color: lightgray;
padding: 10px;
font-size: 15px;
size: 10px;
}

.playlist-cards {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 50px 85px 50px;

}


.playlist-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.playlist {
    margin-top: 25px;
    border: solid black;
    align-self: center;
}

.lower-playlist {
    align-self: center;
}